!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
        %link{:rel => "icon", :href => "imgs/ca_10.png", :type => "image/x-icon"}
        -# %style *{border-style: dashed;}
        %title Big History Project
        %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ", :crossorigin => "anonymous"}
        %link{:rel => "stylesheet", :href => "https://unpkg.com/survey-jquery@1.9.90/defaultV2.min.css"}
    %body
        .header#0
            %h1.heading-1 Maritime Trade
            %h2.heading-2 And Container Ships
        %nav.navbar.navbar-expand-sm.bg-info-subtle.sticky-top
            .container-fluid
                %button.navbar-toggler{:type => "button", :data => {:bs => {:toggle => "collapse", :target => "#navbarNav"}}, :aria => {:controls => "navbarNav", :expanded => "false", :label => "Toggle navigation"}}
                    %span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNav
                    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        %li.nav-item
                            %a.active.nav-link.anchor-text{:aria => "page", :href => "#0"}Top
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "#1"}Pros
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "#2"}Cons
        .content-1#1
            .context
                %h2 What is a container ship?
                %p.paragraph-text Maritime trade is the interaction between humans and exchange of goods overseas. Maritime trade is mostly associated with container ships, the innovation that single handedly changed the world. It is undeniable that the invention has brought many good things for us, but do the cons outweigh the pros?
            .part-a#part-a
                .part-a-heading The Advantages and Disadvantages of Container Ships
                .timeline-container
                    .timeline-item.reveal{:field => "(+)"}
                        %h1.timeline-heading Pros
                        %img.content-image{:src => "imgs/port.jpg", :alt => "A container ship in the port of Kaohsiung"}
                        %ul
                            %li
                                %p.paragraph-text Container ships are by far the cheapest and most effective method of transporting goods.
                            %li
                                %p.paragraph-text The use of container ships has allowed all countries to contribute to the global economy. In fact, developing countries make up a large portion of the internation trade network thanks to container ships.
                            %li
                                %p.paragraph-text Maritime trade as a result of container ships has encouraged economic development in regions where trade is liberalized.
                            %li
                                %p.paragraph-text Theft and piracy is heavily reduced since shipping containers are sealed shut at almost all times.
                            %li
                                %p.paragraph-text Operating container ships was much safer than other transportation methods, such as steamboats.
                            %li
                                %p.paragraph-text The container ship has accelerated globalization and increased QOL worldwide by making resources more accessible to everyone.

                    .timeline-item.reveal{:field => "(-)"}
                        %h1.timeline-heading Cons
                        %img.content-image{:src => "imgs/suez.webp", :alt => "A container ship stuck in the Suez Canal"}
                        %ul
                            %li
                                %p.paragraph-text Almost all of society is completely dependent on maritime trade. This especially became evident when in 2021 a container ship ran aground in the Suez Canal and disrupted global trade for almost a week.
                            %li
                                %p.paragraph-text Container ships carry an enormous carbon footprint on par with that of the commercial planes. Ships use a fuel called bunker fuel, which is a thick sludge that requires it to be heated in order to be pumped. The noxious chemicals produced from heating the fuel poses a hazard to humans and the environment.
                            %li
                                %p.paragraph-text The semi-automation of unloading and loading cargo has taken away jobs in the maritime and shipping industry.
        .content-2#2
            .part-b#part-b
                .part-b-heading Quiz
                .part-b-container
                    .part-b-inner
                        %h2 Take this quiz to see how much you know about maritime travel!
                        %form
                            %p.paragraph-text What was an effect of the invention of the container ship?
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-1", :id => "radio-1-1"}
                                %label.form-check-label{:for => "radio-1-1"} Globalization
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-1", :id => "radio-1-2"}
                                %label.form-check-label{:for => "radio-1-2"} Famine
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-1", :id => "radio-1-3"}
                                %label.form-check-label{:for => "radio-1-3"} Imperialism
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-1", :id => "radio-1-4"}
                                %label.form-check-label{:for => "radio-1-4"} All of the above
                            %p.paragraph-text In what century was the steamboat invented?
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-2", :id => "radio-2-1"}
                                %label.form-check-label{:for => "radio-2-1"} Before 1600 CE
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-2", :id => "radio-2-2"}
                                %label.form-check-label{:for => "radio-2-2"} 1700 CE
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-2", :id => "radio-2-3"}
                                %label.form-check-label{:for => "radio-2-3"} 1800 CE
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-2", :id => "radio-2-4"}
                                %label.form-check-label{:for => "radio-2-4"} 1900 CE
                            %p.paragraph-text The Age of Discovery marked when what events took place?
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-3", :id => "radio-3-1"}
                                %label.form-check-label{:for => "radio-3-1"} Austronesian expansion
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-3", :id => "radio-3-2"}
                                %label.form-check-label{:for => "radio-3-2"} Portuguese maritime expeditions
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-3", :id => "radio-3-3"}
                                %label.form-check-label{:for => "radio-3-3"} Decolonization of West Africa
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-3", :id => "radio-3-4"}
                                %label.form-check-label{:for => "radio-3-4"} Crusades
                            %p.paragraph-text What is a direct negative effect of the container ship?
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-4", :id => "radio-4-1"}
                                %label.form-check-label{:for => "radio-4-1"} Pollution
                            .form-check
                                %input.form-check-input{:type => "radio", :name => "radio-4", :id => "radio-4-2"}
                                %label.form-check-label{:for => "radio-4-2"} Overpopulation
                            %button.btn.btn-secondary{:type => "submit"}Submit

        .footer
            %p.footer-text Made by Austin Liu
            %img.icon{:src => "imgs/ca9.png", :alt => "a rather angry looking cat"}
            %button.button{:type => "button"}
                %a.anchor-text{:href => "#0"}To Top
        %script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js", :integrity => "sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe", :crossorigin => "anonymous"}
        %script{:src => "script.js"}
        %script{:src => "json.js"}
        %script{:src => "https://unpkg.com/jquery/dist/jquery.min.js"}
        %script{:src => "https://unpkg.com/survey-jquery@1.9.90/survey.jquery.min.js"}